In [29]:
import pandas as pd

In [38]:
from utils import run_simulation
from parameters import NUMBER_OF_FISHES, WIN_STEPS, STEP, RANDOM_STATE

winner, simulation_output = run_simulation(STEP, NUMBER_OF_FISHES, WIN_STEPS, RANDOM_STATE)

In [39]:
df = pd.DataFrame(simulation_output).fillna(0)
df.set_index("counter", inplace=True)
columns = df.columns[1:-3] # converting float numbers to int for better readability
df[columns] = df[columns].apply(lambda col: col.astype('int8'))
df

,winner,dice,boat_steps,number_of_fishes_caught_by_the_boat,number_of_fishes_crossed_the_sea,fish_steps,caught_by_fisher,have_crossed_the_sea
counter,,,,,,,,
0,0,5,-4,0,0,"(0, 0, 0, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
1,0,0,-4,0,0,"(1, 0, 0, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
2,0,3,-4,0,0,"(1, 0, 0, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
3,0,2,-4,0,0,"(1, 0, 1, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
4,0,0,-4,0,0,"(2, 0, 1, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
5,0,2,-4,0,0,"(2, 0, 2, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
6,0,4,-3,0,0,"(2, 0, 2, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
7,0,0,-3,0,0,"(3, 0, 2, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
8,0,3,-3,0,0,"(3, 0, 2, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
9,0,1,-3,0,0,"(3, 1, 2, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
10,0,2,-3,0,0,"(3, 1, 3, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
11,0,4,-2,0,0,"(3, 1, 3, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
12,0,1,-2,0,0,"(3, 2, 3, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
13,0,0,-2,0,0,"(4, 2, 3, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
14,0,4,-1,0,0,"(4, 2, 3, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
15,0,0,-1,0,1,"(5, 2, 3, 2)","(0, 0, 0, 0)","(1, 0, 0, 0)"
16,0,4,0,0,1,"(5, 2, 3, 2)","(0, 0, 0, 0)","(1, 0, 0, 0)"
17,0,1,0,0,1,"(5, 3, 3, 2)","(0, 0, 0, 0)","(1, 0, 0, 0)"
18,0,2,0,0,1,"(5, 3, 4, 2)","(0, 0, 0, 0)","(1, 0, 0, 0)"
19,0,3,0,0,1,"(5, 3, 4, 3)","(0, 0, 0, 0)","(1, 0, 0, 0)"
20,0,4,1,0,1,"(5, 3, 4, 3)","(0, 0, 0, 0)","(1, 0, 0, 0)"
21,0,3,1,0,1,"(5, 3, 4, 4)","(0, 0, 0, 0)","(1, 0, 0, 0)"
22,0,3,1,0,2,"(5, 3, 4, 5)","(0, 0, 0, 0)","(1, 0, 0, 1)"
23,0,3,1,0,2,"(5, 3, 4, 5)","(0, 0, 0, 0)","(1, 0, 0, 1)"
24,0,0,1,0,2,"(5, 4, 4, 5)","(0, 0, 0, 0)","(1, 0, 0, 1)"
25,0,0,1,0,3,"(5, 5, 4, 5)","(0, 0, 0, 0)","(1, 1, 0, 1)"
26,fishes,0,0,0,0,0,0,0

In [37]:
!python main.py

step = -10
boat_win_count = 9.89%
fishes_win_count = 90.11%
--------------------
step = -9
boat_win_count = 14.90%
fishes_win_count = 85.10%
--------------------
step = -8
boat_win_count = 22.07%
fishes_win_count = 77.93%
--------------------
step = -7
boat_win_count = 31.35%
fishes_win_count = 68.65%
--------------------
step = -6
boat_win_count = 42.94%
fishes_win_count = 57.06%
--------------------
step = -5
boat_win_count = 56.24%
fishes_win_count = 43.76%
--------------------
step = -4
boat_win_count = 70.02%
fishes_win_count = 29.98%
--------------------
step = -3
boat_win_count = 82.55%
fishes_win_count = 17.45%
--------------------
step = -2
boat_win_count = 91.60%
fishes_win_count = 8.40%
--------------------
step = -1
boat_win_count = 97.54%
fishes_win_count = 2.46%
--------------------

### Conclusion

Here it can be seen that the almost equal probility of winning is at step -5 and -6, which means in order to have a fair game between fish friends and fishermen friends, the boat should be -5/-6 steps behind the fishes, considering that the fishes have to move 5 steps in order to reach the sea, where they will be finally saved. Note that by step -6, the fishes will have a slightly higher chance of winning and by step -5 the fishermen.