In [14]:
import pandas as pd

In [15]:
from utils import run_simulation
from parameters import NUMBER_OF_FISHES, WIN_STEPS, STEP

winner, simulation_output = run_simulation(STEP, NUMBER_OF_FISHES, WIN_STEPS)

In [16]:
df = pd.DataFrame(simulation_output).fillna(0)
df.set_index("counter", inplace=True)
columns = df.columns[1:-3]
df[columns] = df[columns].apply(lambda col: col.astype('int8'))
df

,winner,dice,boat_steps,number_of_fishes_caught_by_the_boat,number_of_fishes_crossed_the_sea,fish_steps,caught_by_fisher,have_crossed_the_sea
counter,,,,,,,,
0,0,2,-5,0,0,"(0, 0, 1, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
1,0,2,-5,0,0,"(0, 0, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
2,0,0,-5,0,0,"(1, 0, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
3,0,1,-5,0,0,"(1, 1, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
4,0,0,-5,0,0,"(2, 1, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
5,0,5,-4,0,0,"(2, 1, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
6,0,1,-4,0,0,"(2, 2, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
7,0,1,-4,0,0,"(2, 3, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
8,0,1,-4,0,0,"(2, 4, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
9,0,0,-4,0,0,"(3, 4, 2, 0)","(0, 0, 0, 0)","(0, 0, 0, 0)"
10,0,3,-4,0,0,"(3, 4, 2, 1)","(0, 0, 0, 0)","(0, 0, 0, 0)"
11,0,3,-4,0,0,"(3, 4, 2, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
12,0,0,-4,0,0,"(4, 4, 2, 2)","(0, 0, 0, 0)","(0, 0, 0, 0)"
13,0,0,-4,0,1,"(5, 4, 2, 2)","(0, 0, 0, 0)","(1, 0, 0, 0)"
14,0,1,-4,0,2,"(5, 5, 2, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
15,0,1,-4,0,2,"(5, 5, 3, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
16,0,4,-3,0,2,"(5, 5, 3, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
17,0,4,-2,0,2,"(5, 5, 3, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
18,0,4,-1,0,2,"(5, 5, 3, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
19,0,5,0,0,2,"(5, 5, 3, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
20,0,2,0,0,2,"(5, 5, 4, 2)","(0, 0, 0, 0)","(1, 1, 0, 0)"
21,0,3,0,0,2,"(5, 5, 4, 3)","(0, 0, 0, 0)","(1, 1, 0, 0)"
22,0,0,0,0,3,"(5, 5, 5, 3)","(0, 0, 0, 0)","(1, 1, 1, 0)"
23,fishes,0,0,0,0,0,0,0

In [17]:
!python main.py

step = -9
boat_win_count = 16.61%
fishes_win_count = 83.39%
step = -8
boat_win_count = 25.19%
fishes_win_count = 74.81%
step = -7
boat_win_count = 35.50%
fishes_win_count = 64.50%
step = -6
boat_win_count = 48.22%
fishes_win_count = 51.78%
step = -5
boat_win_count = 61.59%
fishes_win_count = 38.41%
step = -4
boat_win_count = 75.34%
fishes_win_count = 24.66%
step = -3
boat_win_count = 87.25%
fishes_win_count = 12.75%